@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.142);
    width: 450px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(24, 25, 25);
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}